<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Belén Gómez Cifuentes.
<br></br>
<br></br>
<a href="https://github.com/bgomezc/quiz_2017"> Enlace a GitHub </a>
</p>
<br></br>
<br></br>
<img src="/images/DSC_2037.JPG" width="700" height="500"/>

