<h1>Ayuda</h1>

<p>
  
Un Quiz es un juego de preguntas y respuestas. <br></br>
En este quiz seleccionas la pregunta que quieres responder y aparecerá un recuadro blanco donde debes introducir tu respuesta y posteriormente pulsar el botón "Comprobar". Tanto si tu respuesta es correcta como incorrecta se te indicará al momento. Si es correcta podrás volver a la lista de preguntas pulsando el botón "Volver", y si es incorrecta además de esto podrás volver a intentar responder correctamente la pregunta.<br></br>
El objetivo es responder el mayor número de preguntas correctamente.

</p>


